/* <!-- MAIN BODY CONTROL RULES --!> */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
a:link {
  text-decoration: none;
  color: #000;
}
main {
  width: 100%;
}

.overflow {
  overflow: scroll;
}
.Login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 85%;
  overflow: hidden;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Full {
  width: 100%;
}
.Half {
  width: 50%;
}
.Quarter {
  width: 25%;
}
.Mid {
  width: 70%;
}

.MidFlex {
  width: 100%;
}

.HeightMid {
  height: 10%;
}
.HeightFull {
  height: 100%;
}

.Flexwrap {
  flex-wrap: wrap;
}
.test {
  align-items: center;
}

.Display {
  display: none;
}
.GridDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.SpaceEvenly {
  justify-content: space-between;
}

.SpaceBetween {
  justify-content: space-evenly;
}

.SpaceAround {
  justify-content: space-around;
}

.MarginVertical {
  margin-bottom: 10%;
  margin-top: 10%;
}

.MarginVerticalSml {
  margin-bottom: 1%;
  margin-top: 1%;
}

.MarginHorizontal {
  margin-right: 10%;
  margin-left: 10%;
}

.MarginAuto {
  margin-top: auto;
  margin-bottom: auto;
}

.PaddingVertical {
  padding-top: 10%;
  padding-bottom: 10%;
}
.PaddingHorizontal {
  padding-left: 10%;
  padding-right: 10%;
}

.Right {
  text-align: right;
}

.FloatRight {
  float: right;
}
.MarginTop {
  margin-top: 20px;
}

.ColumnRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  height: 15%;
  margin-bottom: 20%;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.RowColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexright {
  align-self: initial;
  justify-self: right;
}

.HeaderFooterRowColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Center {
  justify-content: center;
  text-align: center;
  align-content: center;
}
.Left {
  text-align: left;
  justify-content: left;
  align-content: left;
}

.Column {
  display: flex;
  flex-direction: column;
}

/* <!-- FORM RULES --!> */

form input {
  border-radius: 20px;
  text-align: center;
  border: none;
}

form input:focus {
  outline: none;
}

.buttonExtras {
  padding: 2.5%;
  margin-top: 1%;
}
button {
  border: none;
}

.BoxStyling {
  background: #4c5d63;
  color: white;
  opacity: 90%;
}
/* <!-- COLOR SCHEMES --!> */

.White {
  color: white;
}

.Black {
  color: black;
}
.Grey {
  color: rgb(58, 57, 57);
}
.Green {
  background-color: #36c95e;
}

.Red {
  background-color: rgb(201, 52, 52);
}

.Orange {
  background-color: #e68313;
}
.Color1 {
  background-color: #2e4960;
}

/* .Color2:nth-of-type(odd) {
  background-color: rgb(73, 69, 69);
} */
/* .Color2:nth-of-type(even) {
  background-color: rgb(197, 197, 197);
} */

.Color2 {
  background-color: rgb(197, 197, 197);
}

.Color3 {
  background-color: rgb(47, 126, 119);
}

.Color4 {
  background-color: rgb(175, 216, 213);
}

.Color5 {
  background-color: #ffff;
}

.Color6 {
  background-color: rgb(235, 235, 235);
}
.ButtonColor1 {
  background-color: #36c95e;
}
.Submit {
  background-color: #36c95e;
}
ul {
  list-style-type: none;
  margin: 0;
}

.BackgroundImage {
  background: url("./images/Motorcycle.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: auto;
  opacity: 90%;
}

ul li:hover {
  cursor: pointer;
}
.padding {
  padding: 1%;
}

.padding3 {
  padding: 3%;
}

.textColor1 {
  color: aliceblue;
}

.fontWeight {
  font-weight: 800;
  font-size: 14px;
}
/* <!-- VISUAL EFFECTS --!> */

.Italic {
  font-style: italic;
}

h1 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.border {
  border-radius: 10px;
}

.DeleteButton {
  border-radius: 10px;
  border-width: 0;
}

.MakeProfileButton {
  border-radius: 10px;
  background-color: rgb(27, 187, 27);
  border-width: 0;
}

button:hover {
  opacity: 0.5;
  filter: grayscale(30%);
}

.boxshadow {
  box-shadow: 2px 2px 5px #aaaaaa;
}

/* <!-- ONE OFF STYLING --!> */

.BorderBottom {
  border-bottom: 1px solid rgb(139, 139, 139);
}

.BorderTop {
  border-top: 1px solid rgb(139, 139, 139);
}
.dropbtn {
  color: rgb(58, 57, 57);
  padding: 5px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.Spacing {
  padding: 2%;
}

.Purchase {
  border-style: none;
  background-color: #3e8e41;
  color: aliceblue;
}

.p50 {
  width: "50%";
}

@media screen and (min-width: 800px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
  }

  .RowColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .HeaderFooterRowColumn {
    display: flex;
    flex-direction: row;
  }

  .ColumnRow {
    display: flex;
    flex-direction: column;
  }
  .ConditionalCenter {
    align-items: center;
    justify-items: center;
  }

  .QuarterFlex {
    width: 100%;
  }
  .MidFlex {
    width: 70%;
  }
  .FullFlex {
    width: 100%;
  }
  .buttonExtras {
    padding: 5%;
    margin-top: 1%;
  }
}
